.OrderSummary {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./OrderSummaryBackground.jpg");
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}   

.Text {
    padding: 10px;
    color: white;
} 